.imgten {
    width: 136%;
    margin: 2px;
}

.tenclasstwo {
    padding-left: 35px;
    padding-top: 6px;
}

.tencategory {
    color: rgb(203, 208, 218);
}

.tendollarone {
    color: rgb(209, 0, 36);
    font-weight: bold;
}

.rowten {
    margin-bottom: 35px;
}

.hrafterten {
    color: rgb(203, 208, 218);
    height: 3px;
}

.elevenrow {
    padding-top: 35px
}

.tenh4 {
    text-align: center;
}

.teninputgroup {
    margin: auto;
    width: 35% !important;
    padding-top: 21px;
}

.tenleftborderradius {
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.tenrightborderradius {
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(209, 0, 36);
    color: white;
}

.tenenvelope {
    color: white;
    padding-right: 5px;
    height: 26px;
}

.spansixone {
    font-size: 23px;
    font-weight: bold;
    color: rgb(209, 0, 36);
    text-align: center;
}
.sixspantwo {
    color: rgb(141, 154, 177);
    font-size: 14px;
    font-weight: 500;
}