
<div class="back-color">
    <div class="first">
        <div class="row">
            <div class="col-md-6">
                <span class="contacts">&nbsp; <i class="bi bi-telephone"></i>&nbsp; +021-95-51-84</span>
                <span class="contacts">&nbsp; <i class="bi bi-envelope"></i>&nbsp; email@email.com</span>
                <span class="contacts">&nbsp; <i class="bi bi-geo"></i>&nbsp; 174 Stanecoal Road</span>
            </div>
            <div class="col-md-6">
                <div class="span1">
                    <span class="contacts">&nbsp; <i class="bi bi-currency-dollar"></i>&nbsp; USD</span>
                    <span class="contacts">&nbsp; <i class="bi bi-person"></i>&nbsp; My account</span>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="row rowborder">
            <div class="col-md-3">
                <img class="electrologo" src="assets/logo.png" alt="">
            </div>
            <div class="col-md-7">
                <div class="input-group">
                    <button class="btn btn-outline-secondary allcategoriesbutton" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">All Categories</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action before</a></li>
                        <li><a class="dropdown-item" href="#">Another action before</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons">
                    <span class="input-group-text searchbutton" (click)="getData()">Search</span>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <div class="row mr0">
                        <div class="col-md-6 textaligncenter ">
                            <i class="bi bi-heart position-relative cartwishicon">
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">2
                                </span>
                            </i>
                        </div>
                        <div class="col-md-6 textaligncenter">
                            <i class="bi bi-cart position-relative cartwishicon ">
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">2
                                </span>
                            </i>
                        </div>
                    </div>
                    <div class="row mr0">
                        <div class="col-md-6 textaligncenter cartwishtext">
                            All Wishlist
                        </div>
                        <div class="col-md-6 textaligncenter cartwishtext">
                            All Cart
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <hr class="hr"> -->
