.back-color {
    background-color: black;
    color: white;
}

.contacts {
    font-size: 11px;
}

i {
    color: rgb(209, 0, 36);
}

.span1 {
    float: right;
    margin-right: 20px;
}

.rowborder {
    border-bottom: 2px solid rgb(209, 0, 36);
}

.electrologo {
    width: 120px;
    margin-left: 20px;
}

.allcategoriesbutton {
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
}

.searchbutton {
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
    background-color: rgb(209, 0, 36);
    color: white;
    margin-right: 124px;
}

.input-group {
    margin: 7px;
}

.textaligncenter {
    text-align: center;
}

.cartwishicon {
    font-size: 12px;
}

.cartwishtext {
    font-size: 12px;
}

