<div class="eleven">
    <div class="row elevenrow ">
        <hr class="hrafterten">
        <h4 class="tenh4">Sign Up for the <b>NEWSLETTER</b></h4>
        <div class="eleveniconemail">
            <div class="eleveniconone">
                <i class="bi bi-envelope elevenicon"></i>
            </div>
        </div>
        <div class="input-group mb-3 teninputgroup">

            <input type="text" class="form-control tenleftborderradius" placeholder="Enter your email">
            <span class="input-group-text tenrightborderradius" id="basic-addon2"><i
                    class="bi bi-envelope-fill tenenvelope"></i>Subscribe</span>
        </div>
        <div class="elevenicons">
            <span><i class="bi bi-facebook eleveniconsquare"></i></span>
            <span><i class="bi bi-twitter eleveniconsquare"></i></span>
            <span><i class="bi bi-instagram eleveniconsquare"></i></span>
            <span><i class="bi bi-pinterest eleveniconsquare"></i></span>
        </div>
    </div>
</div>
<div class="twelve">
    <div class="row twelverow ">
        <div class="col-md-3">
            <h6 class="twelvetitles">ABOUT US</h6>
            <div>
                <p class="inametwelve ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam,
                    ex.</p>
                <div class="itwelvepara">
                    <i class="bi bi-geo itwelve"></i>&nbsp; 174 Stanecoal Road
                </div>
                <div class="itwelvepara"><i class="bi bi-telephone itwelve"></i>&nbsp; +021-95-51-84</div>
                <div class="itwelvepara"><i class="bi bi-envelope itwelve"></i>&nbsp;email@email.com</div>
            </div>
        </div>
        <div class="col-md-3">
            <h6 class="twelvetitles">CATEGORIES</h6>
            <h6 class="h6twelve">Hot Deals</h6>
            <h6 class="h6twelve">Laptops</h6>
            <h6 class="h6twelve">Smartphones</h6>
            <h6 class="h6twelve">Cameras</h6>
            <h6 class="h6twelve">Accesories</h6>
        </div>
        <div class="col-md-3">
            <h6 class="twelvetitles">INFORMATION</h6>
            <h6 class="h6twelve">About Us</h6>
            <h6 class="h6twelve">Contact Us</h6>
            <h6 class="h6twelve">Privacy Policy</h6>
            <h6 class="h6twelve">Orders and Returns</h6>
            <h6 class="h6twelve">Terms and Conditions</h6>
        </div>
        <div class="col-md-3">
            <h6 class="twelvetitles">SERVICE</h6>
            <h6 class="h6twelve">My Account</h6>
            <h6 class="h6twelve">View Cart</h6>
            <h6 class="h6twelve">Wishlist</h6>
            <h6 class="h6twelve">Track My Order</h6>
            <h6 class="h6twelve">Help</h6>
        </div>
    </div>
</div>