.afterhome {
    margin-top: 35px;
    margin-bottom: 65px;
}

.fifthrow {
    margin-bottom: 16px;
}

.h4newproduct {
    padding: 3px;
    font-size: 31px;
}

.laptopnav {
    border-bottom: 3px solid rgb(209, 0, 36);
    padding: 0;
    height: 32px;
    padding-top: 7px;
    margin-right: 20px;
}

.fifthrownavlink {
    color: rgb(141, 154, 177) !important;

}

.sevensecond {
    text-align: center;
    position: absolute;
    top: 83px;
    margin-left: 32px;
}

.sevenrow2 {
    margin-left: 31em;
    margin-right: 31em;
}

.sevenrow1 {
    margin-top: 53px;
    margin-bottom: 53px;
}

.circle {
    height: 76px;
    width: 76px;
    background-color: rgb(209, 0, 36);
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 21px;
}

.spanone {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -6px;
    padding-top: 15px;
}
.spantwo {
    font-size: 11px;
}
.seven {
    position: relative;
}

.severimg {
    width: 100%;
}

.rowh6 {
    font-weight: 300;
}

.rowh61 {
    font-weight: bold;
    font-size: 21px;
}

.rowh62 {
    font-weight: 400;
    font-size: 21px;
    padding-bottom: 20px;
}

.button {
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(209, 0, 36);
    color: white;
    width: 8%;
    border: 0;
}

.eighthrow {
    margin-bottom: 16px;
}
