<div class="five">
    <div class="row fifthrow">
        <div class="col-md-4">
            <h4 class="h4newproduct">{{title}}</h4>
        </div>
        <div class="col-md-8">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active laptopnav fifthrownavlink" aria-current="page" href="#">Laptops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fifthrownavlink" href="#">Smartphones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fifthrownavlink" href="#">Cameras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fifthrownavlink" href="#">Accessories</a>
                </li>
            </ul>
        </div>
    </div>
</div>
