.fifthrow {
    margin-bottom: 16px;
}

.h4newproduct {
    padding: 3px;
    font-size: 31px;
}

.laptopnav {
    border-bottom: 3px solid rgb(209, 0, 36);
    padding: 0;
    height: 32px;
    padding-top: 7px;
    margin-right: 20px;
}

.fifthrownavlink {
    color: rgb(141, 154, 177) !important;

}
