.homenav {
    border-bottom: 3px solid rgb(209, 0, 36);
    padding: 0;
    height: 32px;
    padding-top: 7px;
    margin-right: 12px;
}

.thirdrowborder {
    border-bottom: 2px solid rgb(141, 154, 177);
}